<!-- This template is bypassed, because I have directly generated the edit link instead of the detailed  view link -->

<!-- {% extends 'base/main.html' %}
{% block content %}
    <h3>{{object.title}}</h3>
    <ul>
        <li>
            Description: &nbsp;&nbsp;{{object.description}}
        </li>
        <li>
            Created at: &nbsp;&nbsp;{{object.created}}
        </li>
        <li>
            User: &nbsp;&nbsp;{{object.user}}
        </li>
        <li>
            <a href="{% url 'tasks' %}">Back</a>
        </li>
    </ul>
{% endblock content %} -->